@page
@model ProyectoCiclo3.App.Frontend.Pages.ListServicioModel
@{
}
 
<h1>LISTADO DE SERVICIOS</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">ORIGEN</th>
            <th scope="col">DESTINO</th>
            <th scope="col">FECHA</th>
            <th scope="col">HORA</th>
            <th scope="col">ENCOMIENDA</th>
        </tr>
    </thead>
    @foreach (var servicio in Model.Servicio)
    {
        <tr>
            <td>@servicio.id</td>
            <td>@servicio.origen.nombre</td>
            <td>@servicio.destino.nombre</td>
            <td>@servicio.fecha</td>
            <td>@servicio.hora</td>
            <td>@servicio..descripcion</td>
            <td>
                <a class="btn btn-info" asp-page="./Details" asp-route-servicioId="@servicio.id"><i class="fas fa-adjust"></i>Ver</a>
                <a class="btn btn-info" asp-page="./Edit" asp-route-servicioId="@servicio.id">Editar</a>
                <form method="POST">
                <input type="number" class="form-control d-none" id="id" name="id" placeholder="id" asp-for="@servicio.id">
                <button type="submit"class="btn btn-danger" href="">Eliminar</button>
                </form>
            </td>
        </tr>
    }
</table>
