@page
@model ProyectoCiclo3.App.Frontend.Pages.DetailsUsuarioModel
@{
    var usuario = Model.Usuario;
}

<ul class="list-group list-group-flush">
  <li class="list-group-item"> <b>id: </b> @usuario.id</li>
  <li class="list-group-item"> <b>nombre: </b> @usuario.nombre</li>
  <li class="list-group-item"> <b>apellido: </b> @usuario.apellidos</li>
  <li class="list-group-item"><b>direccion: </b> @usuario.direccion</li>
  <li class="list-group-item"><b>telefono: </b> @usuario.telefono</li>
</ul>	
